@import 'https://fonts.googleapis.com/css?family=Roboto:300, 400, 700&display=swap';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/* Nav Section*/
nav {

  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);

}

/* nav img{
  margin-left: 30px;
} */
/* nav ul {
  margin-left: 100px;
} */

/* nav .nav-item .nav-link {
  color: #000000;
} */

/* nav button {
  box-sizing: border-box;
  width: 152px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #4C84C3;
  border-radius: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #4C84C3;
  margin-left: 130px;
} */

nav .second_ul {
  margin: -50px;
  justify-content: space-around;

}

/* Nav Section*/


/*Hero Section*/
#header {
  /*background-image: url(background.png);*/
  background-color: aquamarine;
  background-size: cover;
  position: relative;
  width: 2254px;
  height: 630px;
}

#header .component {
  margin-top: 200px;
  width: 400px;
  height: 123px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #4C84C3;
}

#header button {
  box-sizing: border-box;
  background: #4C84C3;
  border: 1px solid #4C84C3;
  border-radius: 10px;
  width: 223px;
  height: 37px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  width: 252px;
  height: 32px;
  left: 1252px;
  top: 344x;

}

/*Hero Section*/



/*/////////////////////////////////////////////*/
.speciality {
  margin-top: 150px;
  text-align: center;
  padding: 30px;
}

.speciality .section-head h3 {

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 41px;
  color: black;
}

.speciality .section-head p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #555555;
  margin-top: 10px;

}

.speciality .images {
  margin-top: 20px;
  padding: 20px;
}

.speciality .images img {
  width: 240px;
  height: 218px;
  border-radius: 10px;
}

.speciality .images img p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.speciality .images .second {
  margin-top: 80px;
}

.speciality button {
  margin-top: 50px;
  box-sizing: border-box;
  width: 213px;
  height: 52px;
  background: #FFFFFF;
  border: 1px solid #4C84C3;
  border-radius: 10px;
}

/*///////////////////////////////////*/







/*///////////////////////////////////////////////*/
.why {
  margin-top: 150px;
  padding: 30px;
}

.why .section-head {
  text-align: center;
  padding: 80px;
  font-family: 'Open Sans';
  font-style: normal;
}

.why .section-head .title {
  font-weight: 600;
  font-size: 40px;
  line-height: 41px;
  color: #000000;
}

.why .section-head .text {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #555555;
}

.why img {
  width: 200px;
  height: 420px;
}

.why .docs {
  padding: 50px;
  margin-top: 20px;
}

.why .docs .title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #4C84C3;
}

.why .docs .text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #555555;
}

.why .slide .text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 43px;
  text-align: center;
  color: #4C84C3;
  width: 552px;
  height: 195px;
  margin-left: 320px;
}

.why .slide button {
  left: 78.06%;
  right: 19.17%;
  top: 79.46%;
  bottom: 19.57%;

  background: #000000;
}

/*////////////////////////////////////////////////////////////////////*/




/*//////App Section/////////////////////////////*/
#app {
  background-color: rgb(231, 203, 194);
  width: 1300px;
  height: 485px;
  left: 105px;
  top: 2476px;
  margin-top: 120px;
}

#app .app-content {
  margin-top: 130px;
  margin-left: 550px;
}

#app h3 {
  width: 372px;
  height: 59px;
  left: 662px;
  top: 2597px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #4C84C3;
}

#app p {
  width: 377px;
  height: 95px;
  left: 665px;
  top: 2662px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #000000;
}

/*//////App Section/////////////////////////////*/

#footer {
  background-color: #283779;
  padding: 50px;
  height: 600px;
  margin-top: 200px;

}

#footer h3 {
  width: 476px;
  height: 70.45px;
  left: 152px;
  top: 3679.24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;

  color: rgba(255, 255, 255, 0.9);
}

#footer p {
  width: 368px;
  height: 69px;
  left: 152px;
  top: 3722px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  /* or 18px */


  color: #FFFFFF;
}

#footer h4 {
  width: 344px;
  height: 23px;
  left: 703px;
  top: 3683px;

  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 29px;
  color: #B2DDED;
}

#footer input {
  width: 353.75px;
  height: 44.97px;
  left: 699.26px;
  top: 3725px;
  border: 1px solid #B2DDED;
  border-radius: 20px;
  background-color: #283779;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #B2DDED;


}

#footer button {
  width: 150px;
  height: 48px;
  left: 1064px;
  top: 3722px;
  background: #FFFFFF;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

#second-footer {
  width: 1300px;
  height: 261.57px;
  padding: 60px;
  background: rgba(27, 113, 161, 0.8);
}

#second-footer li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #B2DDED;
  list-style: none;
}

#second-footer li .bold {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.94);
}

#second-footer img {
  width: 63.33px;
  height: 64.04px;
  left: 1291.35px;
  top: 3957.29px;
  margin-top: 60px;
}

#footer .last {
  margin-left: 100px;
  padding: 60px;
}

/*.............Profile Page CSS.......................*/
nav ul li img {
  margin-left: 30px;
}

#profile-hero .image-1 {
  width: 1440px;
  height: 258px;
  left: 0px;
  top: 100px;
  background: rgba(155, 146, 146, 0.7);
  border-radius: 10px 10px 0px 0px;
}

#profile-hero .image-2 {
  position: absolute;
  width: 315px;
  height: 315px;
  left: 104px;
  top: 168px;
  margin-left: 100px;
}

#profile-hero .icons {
  position: absolute;
  position: absolute;
  left: 73.7%;
  right: 33.69%;
  top: 52.35%;
  bottom: 15.35%;
  ;
}

#profile-hero .main-intro {

  margin-left: 550px;

}

#profile-hero h3 {
  width: 451px;
  height: 55px;
  left: 443px;
  top: 375px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
  color: #000000;
}

#profile-hero button {
  box-sizing: border-box;
  background: #4C84C3;
  border: 1px solid #4C84C3;
  border-radius: 10px;
  width: 223px;
  height: 37px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  width: 252px;
  height: 32px;
  left: 1252px;
  top: 344x;

}

#profile-hero .main-intro p .intro {
  width: 433px;
  height: 21px;
  left: 443px;
  top: 418px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #555555;
}

#profile-hero p {
  width: 877px;
  height: 21px;
  left: 441px;
  top: 453px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  xt-transform: capitalize;

  color: #555555;
}


#profile-clinic {
  padding: 50px;
  margin: 120px;
  background-color: rgba(178, 221, 237, 0.3);
  ;
}

#profile-clinic h1 {
  width: 505px;
  height: 30px;
  left: 104px;
  top: 747px;
  margin: 33px;
  padding: 10px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 37px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #4C84C3;
}

#profile-clinic p {
  margin: 20px;
  padding: 30px;
  width: 646px;
  height: 309px;
  left: 104px;
  top: 816px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  /* or 206% */

  text-transform: capitalize;

  color: #555555;
}

#profile-clinic .second {
  width: 449px;
  height: 400px;
  left: 894px;
  top: 735px;
  margin-left: 90px;
  margin-top: 20px;
  background: #4C84C3;
  border-radius: 20px;
}

#profile-clinic #images {
  margin-top: 80px;
  padding: 10px;
}

#profile-clinic #images img {
  width: 274px;
  height: 206px;
}

#Profile-about img {
  width: 490px;
  height: 360px;
  left: 119px;
  top: 1586px;

}

#Profile-about h3 {
  width: 415px;
  height: 30px;
  left: 636px;
  top: 1585px;
  padding: 30px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 29px;
  text-transform: capitalize;

  color: #4C84C3;

}

#Profile-about p {
  width: 646px;
  height: 309px;
  left: 636px;
  top: 1655px;
  padding: 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  /* or 206% */

  text-transform: capitalize;

  color: #555555;

}

#profile-clinic .career h3 {
  width: 663px;
  height: 30px;
  left: 119px;
  top: 2158px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 29px;
  text-transform: capitalize;

  color: #4C84C3;


}

.career #first-row {
  padding: 50px;

}

.career img {
  width: 128px;
  height: 144px;
  margin-left: 180px;
  mix-blend-mode: multiply;

}

.career h5 {
  width: 531.47px;
  height: 23.53px;
  left: 183px;
  top: 2264px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #4C84C3;

}

.career ol li {
  width: 531.47px;
  height: 23.53px;
  left: 183px;
  top: 2264px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #4C84C3;
}

.career p {
  width: 672.78px;
  height: 55.37px;
  left: 213px;
  top: 2359px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: #555555;

}

.career hr {
  color: #ffffff;
  width: 915px;
  height: 0px;
  left: 188px;
  top: 2519px;
  margin-left: 110px;
  border: 1px solid #FFFFFF;
}

.career .another {
  margin-left: 50px;
}

#profile-education h3 {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 29px;
  text-align: center;
  text-transform: capitalize;

  color: #4C84C3;
}

#profile-education .common {
  box-sizing: border-box;
  width: 457px;
  height: 400px;
  margin: 90px;
  background: #FFFFFF;
  border: 1px solid #E0DEDE;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#profile-education .common h4 {
  width: 406px;
  height: 24px;
  left: 234px;
  top: 3184px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #4C84C3;

}

#profile-education .common p {
  width: 399px;
  height: 53px;
  left: 234px;
  top: 3692px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: #555555;
}

#profile-education .common ul li {
  width: 369px;
  height: 53px;
  left: 256px;
  top: 3751px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  color: #000000;

}


/*..............................Dr.Profile.html........................*/
#second-profile {
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgb(0 0 0 / 25%);
  border-radius: 10px;
  width: 1200px;
  align-items: center;
  margin: 140px;
}

#second-profile .image {
  position: absolute;
  width: 223px;
  height: 223px;
  left: 201px;
  top: 326px;
}

#second-profile .vector {
  top: 20.56%;
  bottom: 5.8%;
  width: 53px;
  margin-left: 1102px;
  margin-top: 49px;
}

#second-profile .dr-intro {
  margin: 40px;
}

.some {
  margin: 50px;
}

.some p {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

.some .more {
  width: 495px;
  background: #E6EEF2;
  border-radius: 10px;
  padding: 44px;
  margin-top: -75px;
  margin-left: 51px;
  margin-bottom: 40px;
}

#nav {
  width: 1004px;
  height: 55px;
  left: 173px;
  top: 954px;
  background: #E6EEF2;
  border-radius: 10px;
  margin: 140px;
  width: 1200px;
}

#nav .nav-item {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #545454;
  padding: 15px;
}

#education h3 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 28px;
  line-height: 60px;
  text-transform: capitalize;
  color: #000000;
  margin-left: 25px;
}

#education a {
  width: 143px;
  height: 51px;
  left: 1144px;
  top: 1075px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;

  color: #4C84C3;
}

#education section {
  margin: 10px;
  padding: 15px;
}

#education section h5 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #4C84C3;
}

#education section p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #555555;
}

/*.....................Dr.Listing Page...................*/
#doctor-list {
  margin-top: 100px;
}

#doctor-list h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-transform: capitalize;

  color: #555555;
}

#doctor-list section {
  width: 1288px;
  height: 55px;
  left: 112px;
  top: 301px;
  background: #E6EEF2;
  border-radius: 10px;

}

#doctor-list section p {
  width: 216px;
  height: 22px;
  left: 305px;
  top: 299px;
  margin-top: 12px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #545454;
}

#doctors {
  margin-top: 100px;
}

#doctors h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
  color: #000000;
}

#doctors h6 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;

  color: #555555;

}

#doctors p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  /* or 144% */

  text-transform: capitalize;

  color: #555555;
}

#doctors .col-md-6 {
  margin-left: -80px;
}

#doctors .last {

  font-family: 'Montserrat';
  font-style: normal;
}

#doctors .last h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  text-transform: capitalize;

  color: #555555;

}

#doctors .last p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  text-transform: capitalize;

  color: #24A78F;
}

#doctors .last button {
  width: 223px;
  height: 37px;
  margin-left: 85px;
  box-sizing: border-box;
  background: #4C84C3;
  border: 1px solid #4C84C3;
  border-radius: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;

}

/*...............Patient Dashboard.........................*/
#table {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 1300px;
  margin-left: 126px;
  background: #FFFFFF;
  box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
  border-radius: 8px;
}

#table h3 {


  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #25282B;

}

/*..................................Patient Profile..................................*/
.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer>li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;

  letter-spacing: .09em;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;

  color: #000000;
}

.flex-outer li label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}



.flex-outer li p {
  margin: 0;
}



.flex-outer li button {
  box-sizing: border-box;
  width: 186px;
  height: 37px;
  left: 228px;
  top: 1133px;
  background: #4C84C3;
  border: 1px solid #4C84C3;
  border-radius: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;

  color: #FFFFFF;

}

.flex-inner li {
  width: 100px;
}